.link-dropdown-list,
.img-dropdown-list,
.remark-dropdown-list,
.selection-dropdown-list,
.expand-dropdown-list {
  font-size: 12px;
}

.mold-dropdown-list {
  width: 126px;
  height: 170px;
  font-size: 12px;
  .dropdown-item {
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 0;
    margin: 5px;
  }
  @for $i from 1 through 6 {
    .mold-#{$i} {
      background-position: (1-$i) * 50px 0;
    }
  }
}

.theme-dropdown-list {
  width: 160px;
  max-height: 400px;
  padding-block: 5px;
  overflow-y: auto;
  .dropdown-item {
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 5px;
  }
}

.expand-dropdown-list {
  .dropdown-item {
    line-height: 25px;
  }
}

.selection-dropdown-list {
  .dropdown-item {
    line-height: 25px;
  }
}

.theme-group {
  .dropdown-toggle {
    font-size: 12px;
    .current-theme {
      font-size: 12px;
      display: inline-block;
      text-align: center;
      width: 70px;
      height: 30px;
      line-height: 30px;
      padding: 0;
    }
  }
}
